{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit {{title}}
{% endblock %}

{% block body %}
    <h1>Edit {{title}}:</h1>
    <p>Learn <a href="https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">Markdown</a></p>
    
    <form action="{% url 'edit' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="hidden" name="edit" value="true">
        <input type="submit" id="id_EntryButton" value="Update">
    </form>


{% endblock %}